<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logo Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/main-content.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container nav-container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                  <img id ="nav-round" src="logo.png" alt="" width= "150px" height = "50px">
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="#">&nbsp;<!-- Website Title --></a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>


<div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      Home Navigation
                  </a>
              </li>
              <li>
                  <a href="index.html">Home</a>
              </li>
              <li>
                  <a href="profile.html">Profile</a>
              </li>
              <li>
                  <a href="#">Top Movies</a>
              </li>
              <li>
                  <a href="#">Top Actors</a>
              </li>
              <li>
                  <a href="#">About Us</a>
              </li>
              <li>
                  <a href="#">Services</a>
              </li>
              <li>
                  <a href="#">Contact</a>
              </li>



          </ul>
    <img id = "sloth" src = "easyname.png" alt="">
      </div>
      <!-- /#sidebar-wrapper -->
  <!-- /.container -->
  <body>
    <!-- <div style="align-self: center;"> -->
    <table style="width:85%; text-align: left; border-spacing: 5px; margin-left: 0%; margin-top: 0%;" border="1">
      <tbody>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/G/01/imdb/images/nopicture/32x44/film-3119741174._CB379391527_.png" /></a> </td> <td> <a href="" >Oscars</a> (2010) (TV Short) </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/M/MV5BMTg2ODM4OTE1MF5BMl5BanBnXkFtZTcwMDkyMDAyMQ@@._V1_UX32_CR0,0,32,44_AL_.jpg" /></a> </td> <td> <a href="" >Oscars</a> (1998) (TV Episode) <br/><small>- <a href="" >Dennis Miller Live</a> (1994) (TV Series) </small> </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/G/01/imdb/images/nopicture/32x44/film-3119741174._CB379391527_.png" /></a> </td> <td> <a href="" >Oscars</a> (2015) (TV Episode) <br/><small>- <a href="" >Lets Talk Movies</a> (2014) (TV Mini-Series) </small> </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/M/MV5BNDkxMTUwNzQzMF5BMl5BanBnXkFtZTgwNTEyMjE3NzE@._V1_UX32_CR0,0,32,44_AL_.jpg" /></a> </td> <td> <a href="" >The Oscars</a> (2016) (TV Special) </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/M/MV5BMzg5NDMwOTU3N15BMl5BanBnXkFtZTgwMDQwMjkzNDE@._V1_UY44_CR1,0,32,44_AL_.jpg" /></a> </td> <td> <a href="" >The Oscars</a> (2015) (TV Special) </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/M/MV5BMTU0MjQ1MzkyN15BMl5BanBnXkFtZTgwOTc5NjI5MDE@._V1_UY44_CR0,0,32,44_AL_.jpg" /></a> </td> <td> <a href="" >The Oscars</a> (2014) (TV Special) </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/M/MV5BMTQzNDg1NzY2N15BMl5BanBnXkFtZTcwNDU1MDk5OA@@._V1_UX32_CR0,0,32,44_AL_.jpg" /></a> </td> <td> <a href="" >The Oscars</a> (2013) (TV Special) </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/M/MV5BMTI5NDgzMjc3NF5BMl5BanBnXkFtZTcwNzg4NjUyMQ@@._V1_UX32_CR0,0,32,44_AL_.jpg" /></a> </td> <td> <a href="" >Oscar</a> (1991) </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/M/MV5BMTk0MTQ2ODIwNV5BMl5BanBnXkFtZTcwODMyNTg0Mw@@._V1_UX32_CR0,0,32,44_AL_.jpg" /></a> </td> <td> <a href="" >Oscar</a> (1967) </td> </tr>
      <tr> <td> <a href="" ><img src="http://ia.media-imdb.com/images/M/MV5BNDE1NzE1MDEyOV5BMl5BanBnXkFtZTcwMDY3MzcyMQ@@._V1_UX32_CR0,0,32,44_AL_.jpg" /></a> </td> <td> <a href="" >Oscar and Lucinda</a> (1997) </td> </tr>
    </tbody>
    </table>
  <!-- </div> -->
  <!-- Sidebar -->
  <div id="sidebar-wrapper2">
      <ul class="sidebar-nav sidebar-nav2">
          <li>
              <a href="#">Top 10</a>
          </li>
  <ol>
    <li>Titanic</li>
    <li>Jaws</li>
    <li>Baby Geniuses 2</li>
    <li>Ip Man 2</li>
    <li>Mad Max: Fury Road</li>
    <li>Star Wars </li>
    <li>John Wicke</li>
    <li>Pokemon 2000</li>
    <li>Ace Ventura: Pet Detective</li>
    <li>Nacho Libre </li>
    <li>Enter the Dragon</li>
    <li>The Godfather</li>
  </ol>
          <li>
              <a href="#">Top 10 (Among Friends)</a>
          </li>
  <ol>
    <li>Titanic</li>
    <li>Jaws</li>
    <li>Baby Geniuses 2</li>
    <li>Ip Man 2</li>
    <li>Mad Max: Fury Road</li>
    <li>Star Wars </li>
    <li>John Wicke</li>
    <li>Pokemon 2000</li>
    <li>Ace Ventura: Pet Detective</li>
    <li>Nacho Libre </li>
    <li>Enter the Dragon</li>
    <li>The Godfather</li>
  </ol>
      </ul>
  </div>
</div>
  <!-- /#sidebar-wrapper -->
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
  </body>
</html>
