.edit-form-btn {
	color: #286090;
}

.warning-color {
	color: #c9302c;
}

.photo-upload-btn {
	width: 200px;
}

.new_block{
	display:block;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 20px;
	background-color: white;
	outline: 1px solid black;
}
.poster_image{
	    height: auto;
	    width: auto;
	    max-width: 50%;
	    max-height: 50%;
}
.poster_image_search{
	height:auto;
	width:auto;
	max-width:20%;
	max-height: 20%;
}
#loading{
	margin-left: 30%;
}
#main-title{
	display: block;
	margin-right: 25px;
}
#main-info{
	display: block;
	position: relative;
	margin-right: 25px;
	margin-left: 300px;
	margin-top: 0px;
	outline:1px solid black;
}
.contain{
	display:inline-block;
}
.search_bar{
	position:relative;
	margin-bottom:5%;
}
#creation{
	display: block;
	position: relative;
	margin-right: 25px;
	margin-left: 300px;
	margin-top: 35px;
}

#movie-info{
	padding-left: 20px;
	padding-right: 150px;
}
.ratings_box{
	display:inline-block;
	/*position: relative;*/
	background-image: url('../images/ratingsbar.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 40px;
	width: 50%;
}

#slider{
	margin-top: 2%;
}
#buttonpush{
	margin-left:110%;
	margin-top:0%;
	margin-bottom: 0%;
}
.ratings_box > form{

	margin-left: 110%;
	/*margin-bottom:50%;*/
	/*padding-bottom: 50%;*/
	}


/*.rating_sloths {
	padding-left:0px;
	padding-top: 5px;
	padding-right: 10px;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating_sloths > span {
  display: inline-block;
  position: relative;
  width: 1.4em;
	padding:3px;
}
.rating_sloths > span:hover:before,
.rating_sloths > span:hover ~ span:before {
   /*content: url("../images/easyname.png");
   position: absolute;*/
	 background-image: url('../images/easyname.png');
    background-size: 26px 19.58px;
    display: inline-block;
    width: 19.58px;
    height: 26px;
    content:"";*/
}
#rating_sloth{
	height:auto;
	width: auto;
	max-width:200%;
	max-height:200%;
	opacity:.5;
}
/*ul#rating_sloths {
	height: 40px;
	width: 100%;
	list-style-type: none;
	padding: 5px;
}
ul#rating_sloths li {
	display:inline;
}
ul img{
	opacity: .5;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
	height:auto;
	width: auto;
	max-width:49%;
	max-height:49%;
}

#rating_sloth:hover {
	opacity: 1;
}

#rating_sloth1:hover{
	opacity: 1;
}
#rating_sloth1:hover + #rating_sloth {
	opacity: 1;
}
#rating_sloth2:hover {
	opacity: 1;
}
#rating_sloth3:hover {
	opacity: 1;
}
#rating_slot4:hover {
	opacity: 1;
}
#rating_sloth5:hover {
	opacity: 1;
}
#rating_slot6:hover {
	opacity: 1;
}
#rating_sloth7:hover {
	opacity: 1;
}
#rating_sloth8:hover {
	opacity: 1;
}
#rating_sloth9:hover {
	opacity: 1;*/
