

.new_block{
	display:block;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 20px;
	background-color: white;
	outline: 1px solid black;
}
.poster_image{
	    height: auto;
	    width: auto;
	    max-width: 50%;
	    max-height: 50%;
}
.poster_image_search{
	height:auto;
	width:auto;
	max-width:20%;
	max-height: 20%;
}
#loading{
	margin-left: 30%;
}
#main-title{
	display: block;
	margin-right: 25px;
}
#main-info{
	display: block;
	position: relative;
	margin-right: 25px;
	margin-left: 300px;
	margin-top: 0px;
	outline:1px solid black;
}

#creation{
	display: block;
	position: relative;
	margin-right: 25px;
	margin-left: 300px;
	margin-top: 35px;
}
