<!DOCTYPE html>
<html lang="en">

<head>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Slotheater</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/logo-nav.css" rel="stylesheet">
	<link href="static/css/simple-sidebar.css" rel="stylesheet">
	<link href="static/css/main-content.css" rel="stylesheet">
  <link href="static/css/slider.css" rel="stylesheet">
  <link href="static/css/slider.less" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script src="static/js/testing.js"></script>
<script src="static/js/bootstrap-slider.js"></script>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container nav-container">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img id ="nav-round" src="static/images/logo.png" alt="" width= "150px" height = "50px">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">&nbsp;<!-- Website Title --></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <form action='/BasicSearchResults' method = "post" >
                      Search for a movie!  <input type = "text" name="id">
                      <input type="submit" value = "Search">
                      </form>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                  <li>
                    <a href="create">Sign-Up</a>
                  </li>
                  <li>
                    <a href="login">Login</a>
                  </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


	<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Home Navigation
                    </a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="profile">Profile</a>
                </li>
                <li>
                    <a href="/">Top Movies</a>
                </li>
                <li>
                    <a href="#">Top Actors</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>



            </ul>
			<img id = "sloth" src = "static/images/easyname.png" alt="">
        </div>
        <!-- /#sidebar-wrapper -->
    <!-- /.container -->

    <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
              <li>{{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
  <div style = "position: absolute;
                left: center;
                top: center;
                width: 70%;
                height: 100%;
                background-color: #EEEEEE;
                ">
    {% block content %}{% endblock %}
  </div>

  <!-- Sidebar -->
  <div id="sidebar-wrapper2">
      <ul class="sidebar-nav sidebar-nav2">
          <li>
              <a href="#">Top 10</a>
          </li>
  <ol id = "top-ten-list">
    <!-- <li>Titanic</li>
    <li>Jaws</li>
    <li>Baby Geniuses 2</li>
    <li>Ip Man 2</li>
    <li>Mad Max: Fury Road</li>
    <li>Star Wars </li>
    <li>John Wicke</li>
    <li>Pokemon 2000</li>
    <li>Ace Ventura: Pet Detective</li>
    <li>Nacho Libre </li>
    <li>Enter the Dragon</li>
    <li>The Godfather</li> -->
  </ol>
          <li>
              <a href="#">Top 10 (Among Friends)</a>
          </li>
  <ol id = "top-ten-list-friends">
    <!-- <li>Titanic</li>
    <li>Jaws</li>
    <li>Baby Geniuses 2</li>
    <li>Ip Man 2</li>
    <li>Mad Max: Fury Road</li>
    <li>Star Wars </li>
    <li>John Wicke</li>
    <li>Pokemon 2000</li>
    <li>Ace Ventura: Pet Detective</li>
    <li>Nacho Libre </li>
    <li>Enter the Dragon</li>
    <li>The Godfather</li> -->
  </ol>
      </ul>
  </div>
</div>
  <!-- /#sidebar-wrapper -->
<!-- /.container -->


</body>
</html>
