{% extends "base.html" %}
{% block content %}

<form action='/BasicSearchResults' method = "post" >
Search for a movie!  <input type = "text" name="id">
<input type="submit" value = "Search">
</form>

    <!-- <div style="align-self: center;"> -->
    <table style="width:85%; text-align: left; border-spacing: 5px; margin-left: 0%; margin-top: 0%;" border="1">
      <tbody>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search" src={{img[0]}} /></a> </td> <td> <a href="moviePage" >{{title[0]}}</a> ({{year[0]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search"src={{img[1]}} /></a> </td> <td> <a href="moviePage" >{{title[1]}}</a> ({{year[1]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search" src={{img[2]}} /></a> </td> <td> <a href="moviePage" >{{title[2]}}</a> ({{year[2]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search" src={{img[3]}} /></a> </td> <td> <a href="moviePage" >{{title[3]}}</a> ({{year[3]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search"src={{img[4]}} /></a> </td> <td> <a href="moviePage" >{{title[4]}}</a> ({{year[4]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search"src={{img[5]}} /></a> </td> <td> <a href="moviePage" >{{title[5]}}</a> ({{year[5]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search"src={{img[6]}} /></a> </td> <td> <a href="moviePage" >{{title[6]}}</a> ({{year[6]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search"src={{img[7]}} /></a> </td> <td> <a href="moviePage" >{{title[7]}}</a> ({{year[7]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search"src={{img[8]}} /></a> </td> <td> <a href="moviePage" >{{title[8]}}</a> ({{year[8]}}) </td> </tr>
      <tr> <td> <a href="moviePage" ><img class = "poster_image_search"src={{img[9]}} /></a> </td> <td> <a href="moviePage" >{{title[9]}}</a> ({{year[9]}}) </td> </tr>
    </tbody>
    </table>
  <!-- </div> -->

  {% endblock %}
