{% extends "base.html" %}
{% block content %}

  <div id="movie-content">
      <h2>Title: {{title}}</h2>
      <img class= "poster_image" src = {{img}}>
      <h2>Director: {{director}}</h2>
      <h2>Actors/Actresses:{{actor}} </h2>
      <h2>Our Rating: Too Good</h2>
      <h2>IMDB Rating: {{rating}}</h2>
      <h2>Year: {{year}}</h2>
      <h2>Genre: {{genre}}</h2>
      <h2>Length: {{runtime}} minutes</h2>
      <h2>Summary:</h2>
      <p>
        {{plot}}
      </p>
      <P>





          
      </P>
	</div>

{% endblock %}
