{% extends "base.html" %}
{% block content %}


</form>

  <div id="movie-info">
      <h2>Title: {{title}}</h2>
      <img class= "poster_image_search" src = {{img}}>
      <form class = "rate_movie" action="/rateMovie" method="post">
		 <input type = "hidden" id= "rating" name= "score" value="k">
		 <input id="hiddenId" input type="hidden" name="hide" value="{{id}}">
		 <button type="submit" class="btn btn-primary">Rate This Movie!</button>
		  <span id='val'>0</span>
			</form>
      <div class= "ratings_box">
      <input id="slider" type="range" min="0" max="10" value="0" step=".5" onchange="showValue(this.value)"/>
      <script type="text/javascript">
      function showValue(newValue)
      {
        document.getElementById("val").innerHTML=newValue;
        document.getElementById("rating").value=newValue;
      }
      </script>
      <h2>Director: {{director}}</h2>
      <h2>Lead Actors/Actresses:</h2>
      <h3><form id= "form1" action = "/actorUpdate" method="post"><input type = "hidden" id= "thisOne" name= "truly" value="{{ids[0]}}"></form>
        <form action = "/actorUpdate" method= "post"><a href="javascript:{}" onclick= "document.getElementById('form1').submit();">{{actor[0]}}</a><input type = "hidden" id="thisOne" name = "truly" value="{{ids[0]}}"></form></h3>
      <h3><form id= "form2" action = "/actorUpdate" method="post"><input type = "hidden" id= "thisOne" name= "truly" value="{{ids[1]}}"></form>
        <form action = "/actorUpdate" method= "post"><a href="javascript:{}" onclick= "document.getElementById('form2').submit();">{{actor[1]}}</a><input type = "hidden" id="thisOne" name = "truly" value="{{ids[1]}}"></form></h3>
      <h3><form id= "form3" action = "/actorUpdate" method="post"><input type = "hidden" id= "thisOne" name= "truly" value="{{ids[2]}}"></form>
        <form action = "/actorUpdate" method= "post"><a href="javascript:{}" onclick= "document.getElementById('form3').submit();">{{actor[2]}}</a><input type = "hidden" id="thisOne" name = "truly" value="{{ids[2]}}"></form></h3>
      <h3><form id= "form4" action = "/actorUpdate" method="post"><input type = "hidden" id= "thisOne" name= "truly" value="{{ids[3]}}"></form>
        <form action = "/actorUpdate" method= "post"><a href="javascript:{}" onclick= "document.getElementById('form4').submit();">{{actor[3]}}</a><input type = "hidden" id="thisOne" name = "truly" value="{{ids[3]}}"></form></h3>

      <h2>Our Rating: {{ourrating}}</h2>
      <h2>IMDB Rating: {{rating}}</h2>
      <h2>Year: {{year}}</h2>
      <h2>Genre: {{genre}}</h2>
      <h2>Length: {{runtime}} minutes</h2>
      <h2>Summary:</h2>
      <h3>
        {{plot}}
      </h3>
      <P>






      </P>
	</div>

{% endblock %}
