{% extends "base.html" %}
{% block content %}

<div style= " position: relative;
              margin-top: 25px;
              margin-right: 25px;
              margin-left: 200px;
              display: block; ">
<h1>Welcome to Slotheater!</h1>
</div>

<div id="creation">
  <form action="models.py">
    First Name:<br>
    <input type="text" name="first"><br>
    Last Name:<br>
    <input type="text" name="last"><br>
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="text" name="password"><br>
    Confirm Password:<br>
    <input type="text" name="confirm"><br>
    Email:<br>
    <input type="text" name="email"><br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}
